<!-- This should create an entirely new layout -->
<!DOCTYPE html>
<html lang="{{ with .Site.Params.isoCode | default (.Site.LanguageCode | default " en") }} {{- . -}} {{ end }}" dir="{{ if .Site.Params.rtl | default false -}}
    rtl
  {{- else -}}
    ltr
  {{- end }}" class="scroll-smooth" data-default-appearance="{{ .Site.Params.defaultAppearance | default " light" }}"
    data-auto-appearance="{{ .Site.Params.autoSwitchAppearance | default " true" }}">
{{- partial "head.html" . -}}

<body
    class="container mx-auto flex flex-col h-screen px-6 text-lg leading-7 bg-neutral text-neutral-900 dark:bg-neutral-800 dark:text-neutral">
    <div id="the-top" class="absolute flex self-center">
        <a class="px-3 py-1 text-sm -translate-y-8 rounded-b-lg bg-primary-200 focus:translate-y-0 dark:bg-neutral-600"
            href="#main-content"><span
                class="font-bold text-primary-600 ltr:pr-2 rtl:pl-2 dark:text-primary-400">&darr;</span>{{ i18n
            "nav.skip_to_main" }}</a>
    </div>
    {{ $header := print "partials/header/" .Site.Params.header.layout ".html" }}
    {{ if templates.Exists $header }}
    {{ partial $header . }}
    {{ else }}
    {{ partial "partials/header/basic.html" . }}
    {{ end }}
    
    <div class="relative flex flex-col grow">
        <main id="main-content" class="grow w-full">
            <article
                class="max-w-full w-full custom-article {{ with .Params.font }}{{ . }}{{ end }}">

                <!-- HERO SECTION -->
                {{ if .Params.showHero | default (.Site.Params.article.showHero | default false) }}
                {{ $heroStyle := .Params.heroStyle }}
                {{ if not $heroStyle }}{{ $heroStyle = .Site.Params.article.heroStyle }}{{ end }}
                {{ $heroStyle := print "partials/hero/" $heroStyle ".html" }}
                {{ if templates.Exists $heroStyle }}
                {{ partial $heroStyle . }}
                {{ else }}
                {{ partial "partials/hero/basic.html" . }}
                {{ end }}
                {{ end }}

                <header id="single_header" class="mt-5 mx-auto prose dark:prose-invert">
                    {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
                    {{ partial "breadcrumbs.html" . }}
                    {{ end }}
                    <h1 class="m-0 text-4xl font-bold text-neutral-900 dark:text-neutral">
                        {{ .Title | emojify }}
                    </h1>
                    <!-- <p class="mt-1 text-lg font-light dark:text-neutral-400">
                        {{ with .Params.subtitle }}{{ . }}{{ end }}
                    </p> -->
                    <div class="mt-1 mb-6 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
                        {{ partial "article-meta/basic.html" (dict "context" . "scope" "single") }}
                    </div>

                    {{ $authorsData := .Site.Data.authors }}
                    {{ $taxonomies := .Site.Taxonomies.authors }}
                    {{ $baseURL := .Site.BaseURL }}
                    {{ $taxonomyLink := 0 }}
                    {{ $showAuthor := 0 }}

                    {{ if not (strings.HasSuffix $baseURL "/") }}
                    {{ $baseURL = delimit (slice $baseURL "/") "" }}
                    {{ end }}

                    {{ if not (.Params.showAuthorBottom | default ( .Site.Params.article.showAuthorBottom | default false))
                    }}

                    {{ if .Params.showAuthor | default (.Site.Params.article.showAuthor | default true) }}
                    {{ $showAuthor = 1 }}
                    {{ partial "author.html" . }}
                    {{ end }}

                    {{ range $author := .Page.Params.authors }}
                    {{ $authorData := index $authorsData $author }}
                    {{- if $authorData -}}
                    {{ range $taxonomyname, $taxonomy := $taxonomies }}
                    {{ if (eq $taxonomyname $author) }}
                    {{ $taxonomyLink = delimit (slice $baseURL "/authors/" $author) "" }}
                    {{ end }}
                    {{ end }}
                    {{ partial "author-extra.html" (dict "context" . "data" $authorData "link" $taxonomyLink) }}
                    {{- end -}}
                    {{ end }}

                    {{ if or $taxonomyLink $showAuthor }}
                    <div class="mb-5"></div>
                    {{ end }}

                    {{ end }}
                </header>

               <section class="m-6 mx-auto prose dark:prose-invert">
                    <p class="text-xl font-light tracking-wide text-neutral-600 dark:text-neutral-400">
                        {{ with .Params.subtitle | emojify }}{{ . }}{{ end }}
                    </p>
                </section>
                <!-- <section class="mt-4 mx-auto prose dark:prose-invert">
                    <p class="text-sm">
                        <em>Updated: {{ with .Params.updated | emojify }}{{ . }}{{ end }}</em>
                    </p>
                </section> -->

                <!-- FULL WIDTH IMAGE -->
                {{ if .Page.Store.Get "fullwidth_image" }}
                {{.Page.Store.Get "fullwidth_image" | safeHTML }} 
                {{ end }}

                <section
                    class="mt-0 mx-auto prose dark:prose-invert">
                    {{ partial "series/series.html" . }}
                    <div class="mb-20">
                        {{ .Content | emojify }}
                    </div>

                    {{ if (.Params.showAuthorBottom | default ( .Site.Params.article.showAuthorBottom | default false)) }}

                    {{ if .Params.showAuthor | default (.Site.Params.article.showAuthor | default true) }}
                    {{ $showAuthor = 1 }}
                    {{ partial "author.html" . }}
                    {{ end }}

                    {{ range $author := .Page.Params.authors }}
                    {{ $authorData := index $authorsData $author }}
                    {{- if $authorData -}}
                    {{ range $taxonomyname, $taxonomy := $taxonomies }}
                    {{ if (eq $taxonomyname $author) }}
                    {{ $taxonomyLink = delimit (slice $baseURL "/authors/" $author) "" }}
                    {{ end }}
                    {{ end }}
                    {{ partial "author-extra.html" (dict "context" . "data" $authorData "link" $taxonomyLink) }}
                    {{- end -}}
                    {{ end }}

                    {{ if or $taxonomyLink $showAuthor }}
                    <div class="mb-10"></div>
                    {{ end }}
                    {{ end }}

                    {{ partial "series/series-closed.html" . }}
                    {{ partial "sharing-links.html" . }}
                    {{ partial "related.html" . }}
                </section>

                {{ $translations := .AllTranslations }}
                {{ with .File }}
                {{ $path := .Path }}
                {{range $translations}}
                {{ $lang := print "." .Lang ".md" }}
                {{ $path = replace $path $lang ".md" }}
                {{end}}
                <script>
                    var oid = "views_{{ $path }}"
                    var oid_likes = "likes_{{ $path }}"
                </script>
                {{ end }}
                {{ $jsPage := resources.Get "js/page.js" }}
                {{ $jsPage = $jsPage | resources.Minify | resources.Fingerprint "sha512" }}
                <script type="text/javascript" src="{{ $jsPage.RelPermalink }}"
                    integrity="{{ $jsPage.Data.Integrity }}"></script>

                <footer class="pt-8 print:hidden">
                    {{ partial "article-pagination.html" . }}
                    {{ if .Params.showComments | default (.Site.Params.article.showComments | default false) }}
                    {{ if templates.Exists "partials/comments.html" }}
                    <div class="pt-3">
                        <hr class="border-dotted border-neutral-300 dark:border-neutral-600" />
                        <div class="pt-3">
                            {{ partial "comments.html" . }}
                        </div>
                    </div>
                    {{ else }}
                    {{ warnf "[BLOWFISH] Comments are enabled for %s but no comments partial exists." .File.Path }}
                    {{ end }}
                    {{ end }}
                </footer>
            </article>
            {{ if and (.Site.Params.footer.showScrollToTop | default true) (gt .WordCount 1) }}
            {{- partial "scroll-to-top.html" . -}}
            {{ end }}
        </main>
        {{- partial "footer.html" . -}}
        {{ if .Site.Params.enableSearch | default false }}
        {{- partial "search.html" . -}}
        {{ end }}
    </div>
</body>

{{ if .Site.Params.buymeacoffee.globalWidget | default false }}
<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
    data-id="{{ .Site.Params.buymeacoffee.identifier }}" data-description="Support me on Buy me a coffee!"
    data-message="{{ .Site.Params.buymeacoffee.globalWidgetMessage | default "" }}"
    data-color="{{ .Site.Params.buymeacoffee.globalWidgetColor | default " #FFDD00" }}"
    data-position="{{ .Site.Params.buymeacoffee.globalWidgetPosition | default " Left" }}" data-x_margin="18"
    data-y_margin="18"></script>
{{ end }}

</html>