/* IMPORTING FONTS */

/* Web Fonts */

@font-face {
  font-family: pretendard;
  src: url("/fonts/Pretendard-Regular.woff2");
}

@font-face {
  font-family: TT2020E;
  src: url("/fonts/TT2020E.woff2");
}

/* TTF fonts */

@font-face {
  font-family: Jost;
  src: url("/fonts/Jost-Regular.ttf");
}

@font-face {
  font-family: Baskervville;
  src: url("/fonts/Baskervville-Regular.ttf");
}

@font-face {
  font-family: RougeScript;
  src: url("/fonts/RougeScript-Regular.ttf");
}

@font-face {
  font-family: SplineSansMono;
  src: url("/fonts/SplineSansMono-Regular.ttf");
}

/* CUSTOM ARTICLE FONT SPECIFICATIONS */

.custom-article {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.TT2020E {
  font-family: TT2020E;
}

.Pretendard {
  font-family: Pretendard;
}

.Jost {
  font-family: Jost;
}

.Baskervville {
  font-family: Baskervville;
}

.RougeScript {
  font-family: RougeScript;
}

.SplineSansMono {
  font-family: SplineSansMono;
}

/* PAGE DEFINITIONS */

body {
  font-family: Pretendard;
}


/* CUSTOM ELEMENTS  */

.container>h1 {
  font-size: 5rem;
  font-weight: bold;
  margin: 0;
}

.container>h2 {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  transform: translateY(-10px); /* Slight upward shift for effect */
}

.container-2>h1 {
  font-size: 5rem;
  text-align: right;
  font-weight: bold;
  margin: 0;
  transform: rotate(-5deg);
}

.container-2>h2 {
  font-size: 4rem;
  text-align: right;
  font-weight: bold;
  margin: 0;
  transform: translateY(-5px) rotate(10deg); /* Slight upward shift and rotation for effect */
}

.container-2-1>h2 {
  font-size: 3rem;
  text-align: right;
  font-weight: bold;
  margin: 0;
  transform: rotate(-5deg);
}

.responsive-title {
  font-size: 5rem; /* Default size for desktop */
  text-align: left;
  font-weight: bold;
  margin: 0;
  padding-top: 30px;
  transform: rotate(-6deg);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .responsive-title {
      font-size: 4.25rem; /* Size for tablets and smaller screens */
  }
}

@media (max-width: 480px) {
  .responsive-title {
      font-size: 3.25rem; /* Further reduced size for mobile */
  }
}


.responsive-title-style-2 {
  font-size: 5.25rem; /* Default size for desktop */
  font-weight: bold;
  margin: 0;
  padding-top: 30px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .responsive-title-style-2 {
      font-size: 4.25rem; /* Size for tablets and smaller screens */
  }
}

@media (max-width: 480px) {
  .responsive-title-style-2 {
      font-size: 3.25rem; /* Further reduced size for mobile */
  }
}

.pro-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Aligns items at the start */
  flex-wrap: wrap; /* Allows items to wrap on smaller screens */
}

.pro-title {
  flex: 1;
  min-width: 100px; /* Ensures a minimum width for the title */
}

.pro-title > h1 {
  font-size: 4.25rem;
  text-align: left;
  font-weight: bold;
  margin-right: 30px;
  transform: rotate(-5deg);
}

.pro-desc {
  flex: 1;
  margin-right: 20px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .pro-section {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
  }

  .pro-title > h1 {
    font-size: 4.25rem;
    margin-right: 0;
  }

  .pro-desc {
    margin-right: 0;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .pro-title > h1 {
    font-size: 4.25rem; /* Further reduce font size for very small screens */
  }
}

.list-title {
  font-size: 4.5rem;
  font-weight: bold;
  margin: 0;
}