/* IMPORTING FONTS */

@font-face {
  font-family: outfit;
  src: url("/fonts/outfit.ttf");
}

@font-face {
  font-family: rubik;
  src: url("/fonts/Rubik-Regular.ttf");
}


@font-face {
  font-family: TT2020E;
  src: url("/fonts/TT2020E.woff2");
}

@font-face {
  font-family: pretendard;
  src: url("/fonts/Pretendard-Regular.woff2");
}

/* CUSTOM ARTICLE FONT SPECIFICATIONS */

.custom-article.outfit {
  font-family: outfit;
}

.custom-article.rubik {
  font-family: rubik;
}

.custom-article.TT2020E {
  font-family: TT2020E;
}

.custom-article.pretendard {
  font-family: pretendard;
}

/* PAGE DEFINITIONS */

body {
  font-family: rubik;
  font-size: 16px;
}

article {
  line-height: 1.25rem;
}

/* CUSTOM ELEMENTS  */

.container>h1 {
  font-size: 5rem;
  font-weight: bold;
  margin: 0;
}

.container>h2 {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  transform: translateY(-10px); /* Slight upward shift for effect */
}

.container-2>h1 {
  font-size: 5rem;
  text-align: right;
  font-weight: bold;
  margin: 0;
  transform: rotate(-5deg);
}

.container-2>h2 {
  font-size: 4rem;
  text-align: right;
  font-weight: bold;
  margin: 0;
  transform: translateY(-5px) rotate(10deg); /* Slight upward shift and rotation for effect */
}

.container-2-1>h2 {
  font-size: 3rem;
  text-align: right;
  font-weight: bold;
  margin: 0;
  transform: rotate(-5deg);
}

.responsive-title {
  font-size: 5rem; /* Default size for desktop */
  text-align: left;
  font-weight: bold;
  margin: 0;
  transform: rotate(-6deg);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .responsive-title {
      font-size: 4.25rem; /* Size for tablets and smaller screens */
  }
}

@media (max-width: 480px) {
  .responsive-title {
      font-size: 3.25rem; /* Further reduced size for mobile */
  }
}


.responsive-title-style-2 {
  font-size: 5.25rem; /* Default size for desktop */
  font-weight: bold;
  margin: 0;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .responsive-title-style-2 {
      font-size: 4.25rem; /* Size for tablets and smaller screens */
  }
}

@media (max-width: 480px) {
  .responsive-title-style-2 {
      font-size: 3.25rem; /* Further reduced size for mobile */
  }
}