{{ $src := .Params.cover.src }}
{{ $alt := .Params.cover.alt | default "" }}
{{ $height := .Params.cover.height | default "750" }}
{{ $width := .Params.cover.width | default "1500" }}

{{/* Common CSS classes */}}
{{ $figureClass := printf "w-full rounded-xl drop-shadow-2xl flex justify-center h-[%spx] overflow-hidden" $height }}
{{ $imgClass := "w-full h-full object-cover" }}

{{/* Try to get the image */}}
{{ $image := "" }}
{{ if hasPrefix $src "http" }}
{{ with resources.GetRemote $src }}
{{ $image = . }}
{{ end }}
{{ else }}
{{ with .Page.Resources.GetMatch (printf "*%s" $src) }}
{{ $image = . }}
{{ end }}
{{ end }}

{{/* Generate the HTML */}}
{{ $imageContent := "" }}
{{ if $image }}
{{ with $image.Crop (printf "%sx%s" $width $height) }}
{{ $imageContent = printf "<figure class=\"%s\"><img src=\"%s\" alt=\"%s\" class=\"%s\"></figure>" $figureClass
.RelPermalink $alt $imgClass }}
{{ end }}
{{ else }}
{{ $imageContent = printf "<figure class=\"%s\"><img src=\"%s\" alt=\"%s\" class=\"%s\"></figure>" $figureClass $src
$alt $imgClass }}
{{ end }}

{{ $imageContent | safeHTML }}