{{ $src := .Get "src" }}
{{ $alt := .Get "alt" | default "" }}
{{ $height := .Get "height" | default "750" }}
{{ $width := .Get "width" | default "1500" }}

{{/* Common CSS classes */}}
{{ $figureClass := printf "w-full flex justify-center h-[%spx] overflow-hidden" $height }}
{{ $imgClass := "w-full h-full object-cover" }}

{{/* Try to get the image */}}
{{ $image := "" }}
{{ if hasPrefix $src "http" }}
{{ with resources.GetRemote $src }}
{{ $image = . }}
{{ end }}
{{ else }}
{{ with .Page.Resources.GetMatch (printf "*%s" $src) }}
{{ $image = . }}
{{ end }}
{{ end }}

{{/* Generate the HTML */}}
{{ $imageContent := "" }}
{{ if $image }}
{{ with $image }}
{{ $srcset := .Fill "400x300" | printf "%s 400w, " .RelPermalink | safeHTML }}
{{ $srcset = printf "%s%s 800w, " $srcset (.Fill "800x600").RelPermalink | safeHTML }}
{{ $srcset = printf "%s%s 1200w" $srcset (.Fill "1200x900").RelPermalink | safeHTML }}
{{ $sizes := "(max-width: 600px) 400px, (max-width: 1200px) 800px, 1200px" }}
{{ $imageContent = printf "<figure class=\"%s\"><img src=\"%s\" srcset=\"%s\" sizes=\"%s\" alt=\"%s\" class=\"%s\"></figure>" $figureClass .RelPermalink $srcset $sizes $alt $imgClass }}
{{ end }}
{{ else }}
{{ $imageContent = printf "<figure class=\"%s\"><img src=\"%s\" alt=\"%s\" class=\"%s\"></figure>" $figureClass $src
$alt $imgClass }}
{{ end }}

{{ .Page.Store.Set "cover_image" $imageContent }}